* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
section {
    margin-top: 20px;
    margin-bottom: 40px;

}

body {
    font-family: 'open sans';
    background-color: black;
    height: 100%;
}

.contenedor {
    padding: 60px 0;
    width: 1000;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
}

.titulo {
    color: #000000;
    font-size: 30px;
    text-align: center;
    margin-bottom: 60px;
    background-color: #ece5e583;

}

/* Header */

header {
    width: 100%;
    height: auto;
    background: #bc4e9c;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, hsla(340, 95%, 50%, 0.459), hsla(0, 5%, 4%, 0.456)), url("../img/BACKMOV.gif.gif");
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, hsla(340, 95%, 50%, 0.459), hsla(0, 5%, 4%, 0.456)), url("../img/BACKMOV.gif.gif");
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: cover;
    background-attachment: fixed;
    position: absolute;
}
/* Nav */
nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }
  
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  nav li a {
    margin: 0 10px;
    color: white;
    text-decoration: none;
  }
  
  nav li:hover {
    text-decoration: underline;
    color: #ccc;
    border-bottom: none;
  }
  
    
  
  .search-bar {
    margin-top: 20px;
    display: flex;
    justify-content: center;
  }
  
  /* Media queries para hacer el diseño responsive */
  
  @media (max-width: 1440px) {
    nav {
      flex-direction: row;
      justify-content: space-between;
    }
  }
  
 
  @media (max-width: 1024px) {
    nav {
      flex-direction: column;
      align-items: center;
    }
  }
  
  
  @media (max-width: 768px) {
    nav {
      margin-top: 40px;
      
    }
  }
  
 
  @media (max-width: 400px) {
    nav {
      flex-direction: column;
      align-items: center;
      position: relative;
    }
  
    nav ul {
      display: none;
      flex-direction: column;
      position: absolute;
      top: 100%;
      left: 0;
      right: 0;
      background-color: #fff;
      z-index: 1;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    }
  
    nav li {
      margin: 10px 0;
    }
  
    .toggle-nav {
      display: block;
      position: absolute;
      top: 10px;
      right: 10px;
      width: 30px;
      height: 30px;
      background-image: url('menu-icon.png');
      background-size: contain;
      background-repeat: no-repeat;
      cursor: pointer;
    }
  
    .show-nav ul {
      display: flex;
      flex-direction: column;
    }
  
    .show-nav .toggle-nav {
      background-image: url('close-icon.png');
    }
  }
  

header .textos-header {
    display: flex;
    height: 450px;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    font-family: 'Roboto', sans-serif;

}

.textos-header h1 {
    font-size: 70px;
    color: #d6f5ff;

}

.textos-header h2 {
    font-size: 40px;
    font-weight: 300;
    color: #d6f5ff;
    font-family: 'Roboto', sans-serif;
}

/* About us */

main .sobre-nosotros {
    padding: 30px 0 60px;
}
.contenedor-sobre-nosotros {
    display: flex;
    justify-content: space-evenly;
}

.imagen-about-us {
    width: 48%;
}

.sobre-nosotros .contenido-textos {
    width: 48%;
    border-radius: 5%;

}

.contenido-textos h3 {
    color: #ffffff;
    margin-bottom: auto;
    font-family: 'Roboto', sans-serif;
}

.contenido-textos h3 span {
    background: #4d0686;
    color: #fcfbfb;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    width: 30px;
    height: 37px;
    padding: 2px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
    margin-right: 5px;

}

.contenido-textos p {
    padding: 0 0 30px 30px;
    font-weight: 300;
    text-align: center;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;

}

/* Galeria */
.galeria-port {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;

}

.imagen-port {
    width: 24%;
    margin-bottom: 10px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
    border-radius: 5%;
}

.imagen-port > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.hover-galeria {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    transform: scale(0);
    background: hsla(273,91%,27%, 0.7);
    transition: transform 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.hover-galeria img {
    width: 50px;

}

.hover-galeria p {
    color: #fff;
}

.imagen-port:hover .hover-galeria {
    transform: scale(1);
}

/* Clients */

.cards {

    display: flex;
    justify-content: space-evenly;

}

.cards .card {
    background: #4d0686;
    display: flex;
    width: 45%;
    height: 200px;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 10px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.6);

}

.cards .card img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border: 1px solid #34c4e4;
    border-radius: 50%;
    display: block;
    
}

.cards .card > .contenido-texto-card {
    width: 60%;
    color: #ffffff;
}

.cards .card > .contenido-texto-card p {
    font-weight: 300;
    padding-top: 5px;
}

/*  Our team */

.about-services {
    background-color: black;
    padding-bottom: 30px;

}

.servicio-cont {
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-content: space-evenly;

}

.servicio-ind {
    width: 40%;
    text-align: center;
    flex-direction: column;
}

.servicio-ind img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border: 3px solid #000000d3;
    border-radius: 50%;
    display: flex;

}

.servicio-ind h3 {
    color: #000000;
    margin: 15px 0;
}

.servicio-ind p {
    color: #000000;
    font-weight: 400;
    text-align: center;
}

.servicio-separate {
    display: flex;
}

/* footer */

footer {
    background: #414141;
    padding: 60px 0 30px;
    margin: auto;
    overflow: hidden;

}

.contenedor-footer {
    align-self: flex-end;
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    margin: auto;
    padding-bottom: 50px;
    border-bottom: 1px solid #ccc;
}

.content-foo {
    text-align: center;
}

.content-foo h4 {
    color: #fff;
    border-bottom: 3px solid #af20d3;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.content-foo p {
    color: #ccc;
}

.titulo-final {
    text-align: center;
    font-size: 24px;
    margin: 20px 0 0;
    color: #9e9797;
}

@media screen and (max-width:1000px) {
    header {
        background-position: center;
    }

    .contenedor-sobre-nosotros {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .sobre-nosotros .contenido-textos {
        width: 90%;
    }

    .imagen-about-us {
        width: 70%;
    }

    /* Galeria */

    .imagen-port {
        width: 44%;
    }

    /* Clientes */

    .cards {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .cards .card {
        width: 90%;
    }

    .cards .card:first-child {
        margin-bottom: 30px;
    }

    /* servicios */

    .servicio-cont {
        justify-content: center;
        flex-direction: column;

    }

    .servicio-ind {
        width: 100%;
        text-align: center;
        background-color: #ffffff;
    }

    .servicio-ind:nth-child(1),
    .servicio-ind:nth-child(2) {
        margin-bottom: 60px;
    }

    .servicio-ind img {
        width: 90%;
    }
}

@media screen and (max-width:1000px) {
    nav {
        text-align: center;
        padding: 30px 0 0;
    }

    nav > a {
        margin-right: 5px;
    }

    .textos-header h1 {
        font-size: 35px;
    }

    .textos-header h2 {
        font-size: 20px;
    }

    /* ABOUT US */

    .imagen-about-us {
        margin-bottom: 60px;
        width: 99%;
    }

    .sobre-nosotros .contenido-textos {
        width: 95%;
    }

    /* Galeria */

    .imagen-port {
        width: 95%;
    }

    /* Clients */

    .cards .card {
        height: 450px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .cards .card img {
        width: 90px;
        height: 90px;
    }

    /* Footer */

    .contenedor-footer {
        display: flex;
        width: 90%;
        justify-content: space-evenly;
        margin: auto;
        padding-bottom: 50px;
        border-bottom: 1px solid grey;
        height: 100px;

    }

    .content-foo {
        margin-bottom: 20px;
        text-align: center;
    }

    .content-foo h4 {
        color: #642a73;
        border-bottom: 3px solid black;
        padding-bottom: 5px;
        margin-bottom: 10px;
    }

    .content-foo p {
        color: #ccc;
        border-bottom: 1px solid #f2f2f2;
        padding-bottom: 20px;
    }

    .titulo-final {
        font-size: 20px;
    }
}
/* pagina acerca de */
.p {
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    background-color: #000000;
    text-align: center;
}

/* pagina de contacto */
form {
    max-width: 600px;
    margin: 0 auto;
    background-color: #f7f7f7;
    padding: 30px;
    border-radius: 10px;
  }
  label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
  } 
  input,
  textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: none;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
  }
  button[type="submit"] {
    background-color: #4caf50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  button[type="submit"]:hover {
    background-color: #3e8e41;
  }
  
.form {
    margin-bottom: 200px;
}

/* video como lo hacemos */
video-1 {
    position: fixed;
}

/* Estilos para el formulario de inicio de sesión */
form {
    background-color: rgba(95, 88, 102, 0.93);
    width: 400px;
    margin: 50px auto;
    padding: 20px;
    border-radius: 5px;
    text-align: center;

}

/* Estilos para los campos de entrada */
input[type="text"],
input[type="password"],
input[type="email"] {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: none;
    background-color: #f2f2f2;

}

/* Estilos para el botón de enviar */
input[type="submit"] {
    background-color: black;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

/* Estilos para el formulario de crear cuenta */
form {
    margin: auto;
    width: 50%;
    border: 3px solid #f1f1f1;
    padding: 10px;
}


