// Media queries para hacer el diseño responsive 

@media (min-width: 1440px) {
    nav {
        flex-direction: column;
        justify-content: space-between;
    }
}

@media (max-width: 1024px) {
    nav {
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 768px) {
    nav {
        margin-top: 0;

    }
}
